<section class="clearfix pageTitleSection" >
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="pageTitle">
          <h2>Urban Development</h2>
          <div class="btnArea"><a  (click)="cancel()"  class="btn btn-primary"><i class="fa fa-angle-left" aria-hidden="true"></i> Back </a></div>
				</div>
			</div>
		</div>
	</div>
</section>
	  
	  
	  
<!-- SEARCH BROWSE SECTION -->
<section class="clearfix bg-light pr">
	<div class="container">
		
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				
				<div class="categoryBox">
					<h2>Level of Urbanisation</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a routerLink="/LevelOfUrbanisation1"><span>Urbanisation Trend in Bihar and India</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/LevelOfUrbanisation2"><span>Distribution of Urban Population by Size Class of Town</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/LevelOfUrbanisation3"><span>District-wise Urbanisation in Bihar (2001 and 2011)</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/LevelOfUrbanisation4"><span>Access to Basic Urban Services in Bihar by Size Class of Towns (2011)</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/LevelOfUrbanisation5"><span>Availability of Piped Water and Toilet in Urban Areas of Bihar</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/LevelOfUrbanisation6"><span>Status of Roads and Drains in Urban Areas of Bihar</span></a></li>
					</ul>
				</div>

				<div class="categoryBox">
					<h2>Urban Development Programmes (State Plan)</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a routerLink="/UDPStatePlan1"><span>Salient Feature of Mukhyamantri Shahri Payjal Nishchay Yojana</span> </a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/UDPStatePlan2"><span>District-wise Progress of Mukhyamantri Shahri Payjal Nishchay Yojana</span> </a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/UDPStatePlan3"><span>Yearly Coverage of HHs under Ghar Tak Pakki Gali Nali Yojana </span> </a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/UDPStatePlan4"><span>Salient Feature of the Ghar Tak Pakki Gali Nali Yojana</span> </a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/UDPStatePlan5"><span>District-wise Target and Achievement of Ghar Tak Pakki Gali Nali Yojana</span> </a></li>
						
					</ul>
				</div>

			</div>
			
			
			
			<div class="col-sm-6 col-xs-12">
				
				<div class="categoryBox">
					<h2>Expenditure on Urban Development</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Expenditure-On-Urban-Development" > <span>Expenditure Pattern of Urban Development and Housing in Bihar</span></a></li>
						</ul>
				</div>
				
				<div class="categoryBox">
					<h2>Urban Development Programmes (Jointly Funded by Central and State)</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/UDPJointlyFunded1" > <span>Brief Status of Projects under Namami Gange</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/UDPJointlyFunded2" > <span>Achievement under SMID for 2016-17</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/UDPJointlyFunded3" > <span>Achievement under ESTP for 2016-17 </span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/UDPJointlyFunded4" > <span>Achievement under FISEP for 2016-17</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/UDPJointlyFunded5" > <span>Achievement under Support to Street Vendors</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/UDPJointlyFunded6" > <span>Year-wise Allotment of funds for the Construction of Shelters for ULBs </span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/UDPJointlyFunded7" > <span>Status of SUH for 2016-17</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/UDPJointlyFunded8" > <span>Physical Progress till December 2017</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/UDPJointlyFunded9" > <span>Progress of Work Under Pradhan Mantri Awas Yojna - Housing for All</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/UDPJointlyFunded10" > <span>Details of Water Supply, Drainage and Park Projects</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/UDPJointlyFunded11" > <span>Status of lmplementation of Approved Water Supply Schemes</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/UDPJointlyFunded12" > <span>Details of HRIDAY</span></a></li>
						
					</ul>
				</div>

				<div class="categoryBox">
					<h2>Municipal Finances</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Municipal-Finances" > <span>Municipal Finances for 35 Towns in Bihar </span></a></li>
						
					</ul>
				</div>

				
			</div>
			

		</div>
	</div>
</section>