<section class="clearfix pageTitleSection">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="pageTitle">
          <h2>Details of Water Supply, Drainage and Park Projects</h2>
          <div class="btnArea"><a  (click)="cancel()"  class="btn btn-primary"><i class="fa fa-angle-left" aria-hidden="true"></i> Back </a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="clearfix bg-light pr">
<div class="container">
  <div class="row">
      <div class="col-sm-12 col-xs-12">

          <div class="categoryBox">
            <div class="contactSelect">
              
              <div class="unt-txt"></div>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr>
                    <td>SAAP for Yr. 2015-16</td>
                    <td>SAAP for Yr. 2016-17</td>
                    <td>SAAP for remaining years</td>
                  </tr>
                  <tr>
                    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td>SAAP Amount</td>
                          <td>Central State ULB</td>
                        </tr>
                        <tr>
                          <td>664.2</td>
                          <td>332.1</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td>199.26</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td>132.84</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                      </tbody>
                    </table></td>
                    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td>SAAP Amount</td>
                          <td>Central State ULB</td>
                        </tr>
                        <tr>
                          <td>775.2</td>
                          <td>387.6</td>
                          </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td>232.56</td>
                          </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td>155.04</td>
                          </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                      </tbody>
                    </table></td>
                    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td>SAAP Amount</td>
                          <td>Central State ULB</td>
                        </tr>
                        <tr>
                          <td>1030.37</td>
                          <td>445.1</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td>282.64</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td>181.94</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td>120.69</td>
                        </tr>
                      </tbody>
                    </table></td>
                  </tr>
                  <tr>
                    <td>Water Supply – 14</td>
                    <td>Water Supply – 07</td>
                    <td>Water Supply – 17</td>
                  </tr>
                  <tr>
                    <td>Park Projects – 26</td>
                    <td>Drainage Projects – 2</td>
                    <td>FSM (Sewerage) Project – 1</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>Park Projects – 20</td>
                    <td>Drainage Project – 1</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>Park Projects – 20</td>
                  </tr>
                </tbody>
               </table>
                  <div style="clear: both;"> </div>	
                  <!-- <table id="myId"></table> -->
                  
                  <ngx-spinner></ngx-spinner>
                  
                  <div class="source-txt">Source : Department of Urban Development and Housing, GOB</div>
                  <app-modal></app-modal>
                  <!-- <object data="assets/img/bihar.svg" id="biharsvg" type="image/svg+xml"></object> -->
              </div>
           </div>
       </div>
   </div>
</div>

</section>
