<div class="nav-wrapper navbarWhite">

  <div class="container-fluid header-bg">
    <div class="row">
      <div class="col-lg-4 col-sm-4 col-xs-6 header-left empty">empty
      </div>
      <div class="col-lg-8 col-sm-8 col-xs-6 header-right empty">empty
      </div>
    </div>
  </div>

  <!-- NAVBAR -->
  <nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">

    <div class="container">

      <div class="row"> 
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>   -->
        <div class="col-sm-3 col-xs-12">
        <!-- Brand and toggle get grouped for better mobile display -->

         
          <a class="navbar-brand" routerLink="/"><img src="assets/img/logo-blue.png" alt="logo" class="bihar-logo"></a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="col-sm-6 col-xs-12">
         
         <div class="page-header text-center">
  <h2>Bihar Economic Survey <small>Government of Bihar</small></h2>
</div>
        
        </div>
        <div class="col-sm-3 col-xs-12">
        <a class="navbar-brand" routerLink="/"><img src="assets/img/logo-ind-gov.png" alt="logo" class="india-logo"></a>
        </div>
    
    
      </div>
      
    </div>
  
  

  </nav>
</div>