<footer>
  <!-- FOOTER INFO --><!-- COPY RIGHT -->
  <div class="clearfix copyRight">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="copyRightWrapper">
            <div class="row">
              
              <div class="col-sm-12 col-xs-12">
                <div class="copyRightText">
                  <p>Copyright © 2018. All Rights Reserved by <a href="#">Bihar Economic Survey</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>