<section class="clearfix pageTitleSection" >
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="pageTitle">
          <h2>Banking and Allied Sectors</h2>
          <div class="btnArea"><a  (click)="cancel()"  class="btn btn-primary"><i class="fa fa-angle-left" aria-hidden="true"></i> Back </a></div>
				</div>
			</div>
		</div>
	</div>
</section>
	  
<section class="clearfix bg-light pr">
	<div class="container">
		
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<div class="categoryBox">
					<h2>Banking Infrastructure</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a routerLink="/Banking-Infrastructure1"><span>Distribution of Commercial Bank Branch Offices (2012-2017) </span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/Banking-Infrastructure2"><span>Distribution of Branches of Commercial Banks among States (as on March, 2017) </span></a></li>
						
						<li><i class="fa fa-check-square"></i> <a routerLink="/Banking-Infrastructure3"><span>Number of Branches of State and District Central Cooperative Banks (As on March 31)</span></a></li>
						
						<li><i class="fa fa-check-square"></i> <a routerLink="/Banking-Infrastructure4"><span>Number of RRB Branches in Bihar (as on September, 2017)</span></a></li>
						
						<li><i class="fa fa-check-square"></i> <a routerLink="/Banking-Infrastructure5"><span>Rural Deposits of Scheduled Commercial Banks by Type of Deposit (as on March, 2016)</span></a></li>
						
						<li><i class="fa fa-check-square"></i> <a routerLink="/Banking-Infrastructure6"><span>Distribution of Employees of SCBs (March, 2016)</span></a></li>
					</ul>
				</div>				
				
				<div class="categoryBox">
					<h2>Sectoral Share in Priority Sector Advances</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a routerLink="/Sectoral-Share1"><span>Sectoral Share of Advances under Annual Credit Plans (2015-16 and 2016-17)</span> </a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/Sectoral-Share2"><span>ACP Achievement - All Banks</span> </a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/Sectoral-Share3"><span>Agency-wise Analysis of ACP Achievement</span> </a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/Sectoral-Share4"><span>Agriculture Credit Flow</span> </a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/Sectoral-Share5"><span>Outstanding Agricultural Advances</span> </a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/Sectoral-Share6"><span>Selected Indicators of Primary Agricultural Credit Societies (March 31, 2016)</span> </a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/Sectoral-Share7"><span>Working Results of State Cooperative Banks</span> </a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/Sectoral-Share8"><span>Working Results of SCARDBs</span> </a></li>
            <li><i class="fa fa-check-square"></i> <a routerLink="/Sectoral-Share9"><span>Number of Kisan Credit Cards (NEW) issued by Banks</span> </a></li>
            <li><i class="fa fa-check-square"></i> <a routerLink="/Sectoral-Share10"><span>District-wise Achievement of Kisan Credit Card (NEW and RENEW) </span> </a></li>
            <li><i class="fa fa-check-square"></i> <a routerLink="/Sectoral-Share11"><span>District-wise Performance Under Annual Credit Plan as on 31.3.2017(A : Priority Sector Advances)</span> </a></li>
            <li><i class="fa fa-check-square"></i> <a routerLink="/Sectoral-Share12"><span>B : Non-Priority Sector Advances as on 31.3.2017</span> </a></li>
					</ul>
				</div>
						
				<div class="categoryBox">
					<h2>Rural Infrastructure Development Fund</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Rural-Infrastructure-Development-Fund" > <span>Sanctions and Disbursements in Bihar under RIDF till March, 2017</span></a></li>
						
					</ul>
				</div>		
				
			</div>
			<div class="col-sm-6 col-xs-12">
				<div class="categoryBox">
					<h2>Deposites and Credits</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Deposites-And-Credits1" > <span>State-wise Deposits and Credit of Scheduled Commercial Banks in India (March 31) </span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/Deposites-And-Credits2"><span> Credit-Deposit (CD) Ratio of All Banks in Bihar</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/Deposites-And-Credits3"><span>Bank Group-wise and Area-wise Credit-Deposit Ratio (2016-17) </span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/Deposites-And-Credits4"><span>Credit-Deposit (CD) Ratio of the Scheduled Commercial Banks as on March 31</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/Deposites-And-Credits5"><span>District-wise Credit-Deposit (CD) Ratio </span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/Deposites-And-Credits6"><span>Credit-Deposit (CD) Ratio of Nationalised Commercial Banks</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/Deposites-And-Credits7"><span>Credit-Deposit (CD) Ratio of Private Commercial Banks (2016-17)</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/Deposites-And-Credits8"><span>Credit-Deposit (CD) and Investment Plus Credit-Deposit (ICD) Ratios of RRBs </span></a></li>
					</ul>
				</div>				

				<div class="categoryBox">
					<h2>Financial Institutions</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Financial-Institutions1" > <span>Sector-wise Refinancing by NABARD</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Financial-Institutions2" > <span> Details of Sector-wise Investment Credit Refinance in Bihar by NABARD</span></a></li>

					</ul>
				</div>

				<div class="categoryBox">
					<h2>Micro-Finance in Bihar</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Micro-Finance1" > <span>SHG-Bank Linkage in Selected States of India (March 2017) </span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Micro-Finance2" > <span>Performance of SHGs in Bihar</span></a></li>
						
					</ul>
				</div>

			</div>


		</div>
	</div>
</section>
