
<!-- PAGE TITLE SECTION -->
<section class="clearfix pageTitleSection" >
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="pageTitle">
          <h2>Rural Development</h2>
          <div class="btnArea"><a  (click)="cancel()"  class="btn btn-primary"><i class="fa fa-angle-left" aria-hidden="true"></i> Back </a></div>
				</div>
			</div>
		</div>
	</div>
</section>



<!-- SEARCH BROWSE SECTION -->
<section class="clearfix bg-light pr">
	<div class="container">

		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<div class="categoryBox">
					<h2>Poverty</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a routerLink="/Poverty1"><span>Poverty Ratio of Bihar and India</span></a></li>
            <li><i class="fa fa-check-square"></i> <a routerLink="/Poverty2"><span></span>State-wise Poverty Ratios in 2011-2012</a></li>
					</ul>
				</div>

				<div class="categoryBox">
					<h2>Panchayati Raj Institutions</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a routerLink="/PanchayatiRaj1"><span>Overview of Panchayati Raj Institutions in Bihar</span> </a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/PanchayatiRaj2"><span>Expenditure Level of PRIs</span> </a></li>
					</ul>
				</div>

				<div class="categoryBox">
					<h2>Disaster Management</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/DisasterManagement1" > <span>Funds Allotted for Floods and Cyclones</span></a></li>

					</ul>
				</div>


			</div>


			<div class="col-sm-6 col-xs-12">
				<div class="categoryBox">
					<h2>Rural Development Programmes</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/RuralDevelopmentProgrammes1"><span>Progress of JEEViKA</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/RuralDevelopmentProgrammes2"><span>Performance of MGNREGS</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/RuralDevelopmentProgrammes3"><span>Completed Works under MGNREGS</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/RuralDevelopmentProgrammes4"><span>Performance of the PMAY-G Scheme</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/RuralDevelopmentProgrammes5"><span>Social Background of PDS Dealers</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/RuralDevelopmentProgrammes6"><span>Allotment and Lifting of Rice and Wheat under PDS in Bihar</span></a></li>
            <li ><i class="fa fa-check-square"></i> <a routerLink="/RuralDevelopmentProgrammes7"><span>District-wise Progress under MGNREGS</span></a></li>
            <li ><i class="fa fa-check-square"></i> <a routerLink="/RuralDevelopmentProgrammes8"><span>District-wise Financial Progress under MGNREGS</span></a></li>
            <li ><i class="fa fa-check-square"></i> <a routerLink="/RuralDevelopmentProgrammes9"><span>District-wise Distribution of PDS Dealers by Their Social Background in Bihar</span></a></li>
            <li ><i class="fa fa-check-square"></i> <a routerLink="/RuralDevelopmentProgrammes10"><span>District-wise Allotment and Lifting of Wheat and Rice under NFSA during (2016-17)</span></a></li>
					</ul>
				</div>

				<div class="categoryBox">
					<h2>Distribution of Homestead Land</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/DistributionOfHomesteadLand1"> <span>Status of Abhiyan Basera Programme till November 2017</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/DistributionOfHomesteadLand2"> <span>Land Holdings in Bihar</span></a></li>
						</ul>
				</div>

				<div class="categoryBox">
					<h2>Environment and Climate Change</h2>
					<ul class="list-inline listCategory">

					</ul>
				</div>
			</div>


		</div>
	</div>
</section>
