<section class="clearfix interestArea filterProtfolio">
  <!-- BUTTON SECTION -->
  <div class="container ">
    <div class="row">
      <div class="col-xs-12">
        <div class="filter-container isotopeFilters">
          <ul class="list-inline filter">
            <li class="active"><a href="#" data-filter="*">2016 - 17</a></li>
            <li><a href="#" data-filter=".recentItem">2017 - 18</a></li>
            <li><a href="#" data-filter=".featuredItem">2018 - 19</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
        <div class="col-sm-3 col-xs-6">
        <a href="test" class="interestContent">
          <span>
            <i class="flaticon flaticon-profits"></i>
            Economy Overview
          </span>
        </a>
      </div>
      <div class="col-sm-3 col-xs-6">
         
        <a routerLink="/rainfall"  class="interestContent">
          <span>
            <i class="flaticon flaticon-rupee"></i>
           Rain Fall
          </span>
        </a>
      </div>
    <div class="col-sm-3 col-xs-6">
        <a href="/agricultureallied" class="interestContent">
          <span>
            <i class="flaticon flaticon-marijuana-plantation"></i>
            Agriculture and Allied
          </span>
        </a>
      </div>
        <div class="col-sm-3 col-xs-6">
        <a href="category-list-left.html" class="interestContent">
          <span>
            <i class="flaticon flaticon-industry"></i>
            Enterprises
          </span>
        </a>
      </div>
    <div class="col-sm-3 col-xs-6">
        <a href="category-grid-right.html" class="interestContent">
          <span>
            <i class="flaticon flaticon-skyline"></i>
            Infrastructure
          </span>
        </a>
      </div>
          <div class="col-sm-3 col-xs-6">
        <a href="category-list-right.html" class="interestContent">
          <span>
            <i class="flaticon flaticon-light-bulb"></i>
            Energy
          </span>
        </a>
      </div>
        <div class="col-sm-3 col-xs-6">
        <a href="category-grid-full.html" class="interestContent">
          <span>
            <i class="flaticon flaticon-house"></i>
            Rural Development
          </span>
        </a>
      </div>
        <div class="col-sm-3 col-xs-6">
        <a href="all-business.html" class="interestContent">
          <span>
            <i class="flaticon flaticon-office-block"></i>
            Urban Development
          </span>
        </a>
      </div>
          <div class="col-sm-3 col-xs-6">
        <a href="all-business.html" class="interestContent">
          <span>
            <i class="flaticon flaticon-money"></i>
            Banking and Allied
          </span>
        </a>
      </div>
        <div class="col-sm-3 col-xs-6">
        <a href="all-business.html" class="interestContent">
          <span>
            <i class="flaticon flaticon-customer"></i>
            Human Development
          </span>
        </a>
      </div>
    </div>
  </div>
  </section>