<section class="clearfix interestArea filterProtfolio">
  <!-- BUTTON SECTION -->
  <div class="container ">
    <div class="row">
      <div class="col-xs-12">
        <div class="filter-container isotopeFilters">
          <ul class="list-inline filter">
            <!-- <li ><a href="#" data-filter="*">2016 - 17</a></li> -->
            <li class="active"><a href="javascript:void(0)" data-filter=".recentItem">2017 - 18</a></li>
            <!-- <li><a href="#" data-filter=".featuredItem">2018 - 19</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
        <div class="col-sm-3 col-xs-6">
        <a routerLink="/Economy-Overview" class="interestContent">
          <span>
            <i class="flaticon flaticon-profits"></i>
            Economy Overview
          </span>
        </a>
      </div>
      <div class="col-sm-3 col-xs-6">
         
        <a routerLink="/State-Finances"  class="interestContent">
          <span>
            <i class="flaticon flaticon-rupee"></i>
            State Finances
          </span>
        </a>
      </div>
    <div class="col-sm-3 col-xs-6">
        <a routerLink="/agricultureallied" class="interestContent">
          <span>
            <i class="flaticon flaticon-marijuana-plantation"></i>
            Agriculture and Allied
          </span>
        </a>
      </div>
        <div class="col-sm-3 col-xs-6">
        <a routerLink="/Enterprises-Sector" class="interestContent">
          <span>
            <i class="flaticon flaticon-industry"></i>
            Enterprises
          </span>
        </a>
      </div>
    <div class="col-sm-3 col-xs-6">
        <a routerLink="/Infrastructure" class="interestContent">
          <span>
            <i class="flaticon flaticon-skyline"></i>
            Infrastructure
          </span>
        </a>
      </div>
          <div class="col-sm-3 col-xs-6">
        <a routerLink="/Energy" class="interestContent">
          <span>
            <i class="flaticon flaticon-light-bulb"></i>
            Energy
          </span>
        </a>
      </div>
        <div class="col-sm-3 col-xs-6">
        <a routerLink="/Rural-Development" class="interestContent">
          <span>
            <i class="flaticon flaticon-house"></i>
            Rural Development
          </span>
        </a>
      </div>
        <div class="col-sm-3 col-xs-6">
        <a routerLink="all-business.html" class="interestContent">
          <span>
            <i class="flaticon flaticon-office-block"></i>
            Urban Development
          </span>
        </a>
      </div>
          <div class="col-sm-3 col-xs-6">
        <a routerLink="all-business.html" class="interestContent">
          <span>
            <i class="flaticon flaticon-money"></i>
            Banking and Allied
          </span>
        </a>
      </div>
        <div class="col-sm-3 col-xs-6">
        <a routerLink="human-development" class="interestContent">
          <span>
            <i class="flaticon flaticon-customer"></i>
            Human Development
          </span>
        </a>
      </div>
    </div>
  </div>
  </section>