<object  data="assets/img/biharmap.svg" id="biharsvg" type="image/svg+xml" width="100%" height="550px"></object>
                    
<div style="position: relative;"> 
<div class="fil-box">
    <!-- <div><span class="dot yellow"></span>Below Min</div>
    <div><span class="dot orange"></span>Minimum</div>
    <div><span class="dot dark-green"></span>Below Max</div>
    <div><span class="dot red"></span>Maximum</div> -->
    <!-- <div><span class="dot light-green"></span>8.0% to 9.9%</div>
    <div><span class="dot mid-green"></span>6.0% to 5.9%</div> -->

<!-- 
                    <div><span class="dot red"></span>10.0% to 11.9%</div>
					<div><span class="dot orange"></span>12.0% to 13.9%</div>
                    <div><span class="dot yellow"></span>14.0% and Over</div>
                    <div><span class="dot lighter-green"></span>8.0% to 9.9%</div>
					<div><span class="dot light-green"></span>8.0% to 9.9%</div>
					<div><span class="dot mid-green"></span>6.0% to 5.9%</div>
                    <div><span class="dot dark-green"></span>3.9% or lower</div> -->
                    

                    <div><span class="dot dark-green"></span>3.9% or lower</div>
					<div><span class="dot mid-green"></span>6.0% to 5.9%</div>
                    <div><span class="dot light-green"></span>8.0% to 9.9%</div>
                    <div><span class="dot lighter-yellow"></span>8.0% to 9.9%</div>
                    <div><span class="dot yellow"></span>14.0% and Over</div>
					<div><span class="dot orange"></span>12.0% to 13.9%</div>
                    <div><span class="dot red"></span>10.0% to 11.9%</div>


</div>
</div>