<section class="clearfix pageTitleSection">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="pageTitle">
					<h2>Agriculture and Allied Sectors</h2>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="clearfix bg-light pr">
	<div class="container">
		
		<div class="row">
			<div class="col-sm-6 col-xs-12">
			
				<div class="categoryBox">
					<h2>Rainfall</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a routerLink="/rainfall1"><span>Season-wise Annual Rainfall in Bihar</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/rainfall2"><span>District-wise Annual Rainfall across Different Seasons</span></a></li>
					</ul>
				</div>
		
			

				<div class="categoryBox">
					<h2>Irrigation</h2>
					<ul class="list-inline listCategory">
					<li><i class="fa fa-check-square"></i> <a href="#"> <span>Ultimate, Created and Utilised Irrigation Potential in Bihar</span></a></li>	
					<li><i class="fa fa-check-square"></i> <a href="#"> <span>Creation of Irrigation Potential under Major and Medium Irrigation (2016-17)</span></a></li>
					<li><i class="fa fa-check-square"></i> <a href="#"> <span>Water Utilisation Efficiency of Major and Medium Irrigation Schemes</span></a></li>	
					<li><i class="fa fa-check-square"></i> <a href="#"> <span>Status of Farmers Societies</span></a></li>	
					<li><i class="fa fa-check-square"></i> <a href="#"> <span>Status of Minor Water Resources in Bihar</span></a></li>
					<li><i class="fa fa-check-square"></i> <a href="#"> <span>Area Brought under Irrigation through Minor Irrigation Sources</span></a></li>	
					</ul>
				</div>
		
	
				<div class="categoryBox">
					<h2>Agricultural Credit</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>Agricultural Credit Flow </span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>District-wise Cooperative Credit Distribution</span></a></li>
						
						
					</ul>
				</div>
				
				<div class="categoryBox">
					<h2>Agricultural Inputs</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>Distribution of Certified Seeds and Seed Replacement</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>Consumption of Fertilizers</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>Number of Farm Implements Distributed on Subsidy</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>District-wise Consumption of Fertilizers in Bihar (2015-16)</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>District-wise Consumption of Fertilizers in Bihar (2016-17)</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>District-wise Utilisation of Bio-fertilizers in Bihar</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>District-wise Number of Farm Implements Distributed on Subsidy</span></a></li>
						
					</ul>
				</div>
		
			</div>
			<div class="col-sm-6  col-xs-12">

				<div class="categoryBox">
					<h2>Land Utilisation</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>Land Utilization Pattern in Bihar (2010-11 to 2014-15)</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/land2"> <span>District-wise Land Utilization Pattern (2014-15)</span></a></li>

					</ul>
				</div>

				<div class="categoryBox">
					<h2>Cropping Pattern</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a href="#"><span>Cropping Pattern in Bihar</span> </a></li>
					</ul>
				</div>

				<div class="categoryBox">
					<h2>Production and Productivity</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>Production Levels of Major Crops in Bihar</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>Productivity Levels of Major Crops</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>Classification of Districts based on Production/ Productivity for Major Crops</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>Area and Production of Fruits in Bihar</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>Area and Production of Vegetables in Bihar </span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>District-wise Area, Production and Productivity of Rice</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>District-wise Area, Production and Productivity of Wheat</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>District-wise Area, Production and Productivity of Maize</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>District-wise Area, Production and Productivity of Pulses</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>District-wise Area and Production of Important Fruits</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>District-wise Area and Production of Important Vegetables</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>District-wise Area, Production and Productivity of Sugarcane</span></a></li>
	
					</ul>
				</div>


				


				<div class="categoryBox">
					<h2>Animal Husbandry</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>Livestock Wealth (2003, 2007 and 2012) </span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>Livestock and Fish Production in Bihar</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>Livestock Services in Bihar</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>District-wise Livestock Wealth (2012)</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>District-wise Production of Fish and Fish Seeds</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>District-wise Milk Production in Bihar</span></a></li>
						
						
					</ul>
				</div>
	
			</div>
			

			
			
		</div>
	</div>
</section>