<section class="clearfix pageTitleSection">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="pageTitle">
					<h2>Agriculture and Allied Sectors</h2>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="clearfix bg-light pr">
	<div class="container">
		
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<div class="categoryBox">
					<h2>Rainfall</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a href="/rainfall"><span>Season-wise Annual Rainfall in Bihar</span></a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6 col-xs-12">
				<div class="categoryBox">
					<h2>Land Utilisation</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a href="/land"> <span>District-wise Land Utilization Pattern(2014-15)</span></a></li>

					</ul>
				</div>
			</div>
			<div style="clear:both"></div>
			<div class="col-sm-6 col-xs-12">
				<div class="categoryBox">
					<h2>Cropping Pattern</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a href="#"><span>Cropping Pattern in Bihar</span> </a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6 col-xs-12">
				<div class="categoryBox">
					<h2>Production and Productivity</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>Production Levels of Major Crops in Bihar</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>Productivity Levels of Major Crops</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>Classification of Districts based on Production/ Productivity for Major Crops</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>Area and Production of Fruits in Bihar</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>Area and Production of Vegetables in Bihar </span></a></li>
	
					</ul>
				</div>
			</div>
			<div style="clear:both"></div>
			<div class="col-sm-6 col-xs-12">
				<div class="categoryBox">
					<h2>Irrigation</h2>
					<ul class="list-inline listCategory">
						
						
					</ul>
				</div>
			</div>
			<div class="col-sm-6 col-xs-12">
				<div class="categoryBox">
					<h2>Agricultural Inputs</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>Distribution of Certified Seeds and Seed Replacement</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>Consumption of Fertilizers</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>Number of Farm Implements Distributed on Subsidy</span></a></li>
						
					</ul>
				</div>
			</div>
			<div style="clear:both"></div>
			<div class="col-sm-6 col-xs-12">
				<div class="categoryBox">
					<h2>Agricultural Credit</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>Agricultural Credit Flow </span></a></li>
						
						
					</ul>
				</div>
			</div>
			<div class="col-sm-6 col-xs-12">
				<div class="categoryBox">
					<h2>Animal Husbandry</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>Livestock Wealth (2003, 2007 and 2012) </span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>Livestock and Fish Production in Bihar</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"> <span>Livestock Services in Bihar</span></a></li>
						
						
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>