<section class="clearfix pageTitleSection">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="pageTitle">
					<h2>Agriculture and Allied Sectors</h2>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="clearfix bg-light pr">
	<div class="container">
		
		<div class="row">
			<div class="col-sm-6 col-xs-12">
			
				<div class="categoryBox">
					<h2>Rainfall</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a routerLink="/rainfall1"><span>Season-wise Annual Rainfall in Bihar</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/rainfall2"><span>District-wise Annual Rainfall across Different Seasons</span></a></li>
					</ul>
				</div>
		
			

				<div class="categoryBox">
					<h2>Irrigation</h2>
					<ul class="list-inline listCategory">
					<!-- <li><i class="fa fa-check-square"></i> <a routerLink="/irrigation1"> <span>Ultimate, Created and Utilised Irrigation Potential in Bihar</span></a></li>	 -->
					<!-- <li><i class="fa fa-check-square"></i> <a routerLink="/irrigation2"> <span>Creation of Irrigation Potential under Major and Medium Irrigation</span></a></li> -->
					<li><i class="fa fa-check-square"></i> <a routerLink="/irrigation3"> <span>Water Utilisation Efficiency of Major and Medium Irrigation Schemes</span></a></li>	
					<!-- <li><i class="fa fa-check-square"></i> <a routerLink="/irrigation4"> <span>Status of Farmers Societies</span></a></li>	 -->
					<!-- <li><i class="fa fa-check-square"></i> <a routerLink="/irrigation5"> <span>Status of Minor Water Resources in Bihar</span></a></li> -->
					<li><i class="fa fa-check-square"></i> <a routerLink="/irrigation6"> <span>Area Brought under Irrigation through Minor Irrigation Sources</span></a></li>	
					</ul>
				</div>
		
	
				<div class="categoryBox">
					<h2>Agricultural Credit</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a routerLink="/agricultural-credit1"> <span>Agricultural Credit Flow </span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/agricultural-credit2"> <span>District-wise Cooperative Credit Distribution</span></a></li>
						
						
					</ul>
				</div>
				
				<div class="categoryBox">
					<h2>Agricultural Inputs</h2>
					<ul class="list-inline listCategory">
						<!-- <li><i class="fa fa-check-square"></i> <a routerLink="/agricultural-inputs1"> <span>Distribution of Certified Seeds and Seed Replacement</span></a></li> -->
						<li><i class="fa fa-check-square"></i> <a routerLink="/agricultural-inputs2"> <span>Consumption of Fertilizers</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/agricultural-inputs3"> <span>Number of Farm Implements Distributed on Subsidy</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/agricultural-inputs4"> <span>District-wise Consumption of Fertilizers in Bihar </span></a></li>
					
						<li><i class="fa fa-check-square"></i> <a routerLink="/agricultural-inputs5"> <span>District-wise Utilisation of Bio-fertilizers in Bihar</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/agricultural-inputs6"> <span>District-wise Number of Farm Implements Distributed on Subsidy</span></a></li>
				
						
					</ul>
				</div>
		
			</div>
			<div class="col-sm-6  col-xs-12">

				<div class="categoryBox">
					<h2>Land Utilisation</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a routerLink="/land1"> <span>Land Utilization Pattern in Bihar</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/land2"> <span>District-wise Land Utilization Pattern</span></a></li>

					</ul>
				</div>

				<div class="categoryBox">
					<h2>Cropping Pattern</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a routerLink="/cropping-pattern"><span>Cropping Pattern in Bihar</span> </a></li>
					</ul>
				</div>

				<div class="categoryBox">
					<h2>Production and Productivity</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a routerLink="/production-productivity1"> <span>Production Levels of Major Crops in Bihar</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/production-productivity2"> <span>Productivity Levels of Major Crops</span></a></li>
						<!-- <li><i class="fa fa-check-square"></i> <a routerLink="/production-productivity3"> <span>Classification of Districts based on Production/ Productivity for Major Crops</span></a></li> -->
						<li><i class="fa fa-check-square"></i> <a routerLink="/production-productivity4"> <span>Area and Production of Fruits in Bihar</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/production-productivity5"> <span>Area and Production of Vegetables in Bihar </span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/production-productivity6"> <span>District-wise Area, Production and Productivity of Rice</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/production-productivity7"> <span>District-wise Area, Production and Productivity of Wheat</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/production-productivity8"> <span>District-wise Area, Production and Productivity of Maize</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/production-productivity9"> <span>District-wise Area, Production and Productivity of Pulses</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/production-productivity10"> <span>District-wise Area and Production of Important Fruits</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/production-productivity11"> <span>District-wise Area and Production of Important Vegetables</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/production-productivity12"> <span>District-wise Area, Production and Productivity of Sugarcane</span></a></li>
						

					
	
					</ul>
				</div>


				


				<div class="categoryBox">
					<h2>Animal Husbandry</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a routerLink="/animal-husbandry1"> <span>Livestock Wealth</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/animal-husbandry2"> <span>Livestock and Fish Production in Bihar</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/animal-husbandry3"> <span>Livestock Services in Bihar</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/animal-husbandry4"> <span>District-wise Livestock Wealth</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/animal-husbandry5"> <span>District-wise Production of Fish and Fish Seeds</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/animal-husbandry6"> <span>District-wise Milk Production in Bihar</span></a></li>
						
						
					</ul>
				</div>
	
			</div>
			

			
			
		</div>
	</div>
</section>