<!-- PAGE TITLE SECTION -->
<section class="clearfix pageTitleSection" >
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="pageTitle">
          <h2>Enterprises Sector</h2>
          <div class="btnArea"><a  (click)="cancel()"  class="btn btn-primary"><i class="fa fa-angle-left" aria-hidden="true"></i> Back </a></div>
				</div>
			</div>
		</div>
	</div>
</section>
	  
	  
	  
<!-- SEARCH BROWSE SECTION -->
<section class="clearfix bg-light pr">
	<div class="container">
		
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<div class="categoryBox">
					<h2>Annual Survey of Industries</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/AnnualSurvey1"><span>Annual Growth Rate of Secondary Sector in Bihar at 2011-12 prices </span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/AnnualSurvey2"><span>Contribution of Industrial Sector in GSVA at 2011-12 Prices</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/AnnualSurvey3"><span>Number of Factories and Factories in Operation</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/AnnualSurvey4"><span>Industries in Bihar </span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/AnnualSurvey5"><span>Structural Ratios of lndustries in India and Bihar </span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/AnnualSurvey6"><span>State-wise Profile of lndustrial Sectors (2014-15) </span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/AnnualSurvey7"><span>Structure of Industries in Bihar (2014-15)</span></a></li>
						

					</ul>
				</div>
				
				<div class="categoryBox">
					<h2>Agro-based Industries</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/AgroBasedIndustries1"><span>Performance of Sugar Mills</span> </a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/AgroBasedIndustries2"><span>Number of Dairy Cooperative Societies under Different Mille Union/Project </span> </a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/AgroBasedIndustries3"><span>Progress of Unions and Projects in Daily Milk Collection</span> </a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/AgroBasedIndustries4"><span>Milk Procurement per Functional Dairy Cooperative Society</span> </a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/AgroBasedIndustries5"><span>Activities by COMFED</span> </a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/AgroBasedIndustries6"><span>Value of output and Net value added of selected agro and non-agro based industries (2014-15) (Bihar and India)</span> </a></li>
					</ul>
				</div>

				<div class="categoryBox">
					<h2>Sixth Economic Census, 2013</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/SixthEconomicCensus1" > <span>Census of Economic Enterprises in Bihar (2005 and 2013) </span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/SixthEconomicCensus2"><span>District-wise Total Number of Establishments in Bihar</span></a></li>
						
					</ul>
				</div>

				<div class="categoryBox">
					<h2>Bihar Start-up Policy, 2017</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/Bihar-Start-Up-Policy" > <span>Incubators and Number of Associated Start-ups</span></a></li>
						
						
					</ul>
				</div>

				<div class="categoryBox">
					<h2>Tourism</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/Tourism1" > <span>Expenditure of Department of Tourism</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/Tourism2" > <span>Tourist Arrivals in Bihar</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/Tourism3" > <span>Statistics of Domestic and Foreign Tourist Visit to Bihar</span></a></li>
						
					</ul>
				</div>

			</div>
			
			
			
			<div class="col-sm-6 col-xs-12">
				
				<div class="categoryBox">
					<h2>Support Institutions</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/SupportInstitutions1" > <span>Expenditure on Industries by State Government</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/SupportInstitutions2" > <span>Physical and Financial Achievements of Udyog Mitra</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/SupportInstitutions3" > <span>Details of Land Units of BIADA as on September, 2017 </span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/SupportInstitutions4" > <span>Details of BIADA Land and Activities (September, 2017) </span></a></li>
						
						
					</ul>
				</div>
				
				<div class="categoryBox">
					<h2>Non-Agro-Based Industry</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/NonAgroBasedIndustries1" > <span>Handloom Concentrated Districts in Bihar</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/NonAgroBasedIndustries2" > <span>Number of Handloom Provided with UID</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/NonAgroBasedIndustries3" > <span>Target and Achievement of Training Programme</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/NonAgroBasedIndustries4" > <span>Achievements of the Sericulture Sector (2013-14 to 2017-18)</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/NonAgroBasedIndustries5" > <span>Performance of PMEGP</span></a></li>
						
					</ul>
				</div>

				<div class="categoryBox">
					<h2>Bihar Industrial Investment Act, Rules and Policy, 2016</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/BiharIndustrialInvestment1" > <span>Sector-wise Number of Investment Proposals Granted Stage I Clearance (till Jan 2018)</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/BiharIndustrialInvestment2" > <span>Sector wise financial clearances granted under Bihar Industrial Investment Promotion Policy, 2016 </span></a></li>
						
					</ul>
				</div>

				<div class="categoryBox">
					<h2>Ease of Doing Business</h2>
					<ul class="list-inline listCategory">
						
						
					</ul>
				</div>

				<div class="categoryBox">
					<h2>Mining and Quarrying</h2>
					<ul class="list-inline listCategory">
						
					<li ><i class="fa fa-check-square"></i> <a routerLink="/Enterprises-Sector/mining" > <span>Revenues from Minerals in Bihar</span></a></li>	
					</ul>
				</div>
	
	
			</div>

			

			
		</div>
	</div>
</section>
