<section class="clearfix interestArea filterProtfolio">
  <!-- BUTTON SECTION -->
  <div class="container ">
    <div class="row">
      <div class="col-xs-12">
        <div class="filter-container isotopeFilters">
          <ul class="list-inline filter">
            <li class="active"><a href="#" data-filter="*">2016 - 17</a></li>
            <li><a href="#" data-filter=".recentItem">2017 - 18</a></li>
            <li><a href="#" data-filter=".featuredItem">2018 - 19</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
      <select class='select-option' required [(ngModel)]='optionSelected' (ngModelChange)="toNumber()">
          <option class='option' *ngFor='let option of options' [ngValue]="option">{{option}}</option>
      </select>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <button (click)="appendToContainer()">I am button</button>
    <object data="assets/img/bihar.svg" id="biharsvg" type="image/svg+xml"></object>
  </div>
  </section>