
<!-- PAGE TITLE SECTION -->
<section class="clearfix pageTitleSection" >
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="pageTitle">
          <h2>Energy Sector</h2>
          <div class="btnArea"><a  (click)="cancel()"  class="btn btn-primary"><i class="fa fa-angle-left" aria-hidden="true"></i> Back </a></div>
				</div>
			</div>
		</div>
	</div>
</section>
	  
	  
	  
<!-- SEARCH BROWSE SECTION -->
<section class="clearfix bg-light pr">
	<div class="container">
		
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				
				<div class="categoryBox">
						<h2>Availablility of Power</h2>
						<ul class="list-inline listCategory">
							<li><i class="fa fa-check-square"></i> <a routerLink="/AvailablilityOfPower1"><span>Power Scenario (2011-12 to 2016-17)</span></a></li>
							<li><i class="fa fa-check-square"></i> <a routerLink="/AvailablilityOfPower2"><span>District-wise Consumption</span></a></li>

						</ul>
					</div>

				<div class="categoryBox">
					<h2>Institutional Structure of Power Sector</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a routerLink="/InstitutionalStructureOfPowerSector"><span>Allocation of Funds under BSPHCL</span> </a></li>
					</ul>
				</div>

				<div class="categoryBox">
					<h2>Operational and Financial Status</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/OperationalAndFinancialStatus1" > <span>Financial Status of Power Sector</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/OperationalAndFinancialStatus2" > <span>AT&C Losses in Bihar (NBPDCL + SBPDCL) </span></a></li>
						
					</ul>
				</div>

				<div class="categoryBox">
					<h2>Transmission</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Transmission1" > <span>Projected Required Capacity for Power (2017-18 to 2019-20) </span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Transmission2" > <span>Plan of Action for Strengthening Transmission</span></a></li>
						
					</ul>
				</div>

				<div class="categoryBox">
					<h2>New Schemes / Projects</h2>
					<ul class="list-inline listCategory">
						
						
					</ul>
				</div>

				<div class="categoryBox">
					<h2>Bihar Renewable Energy Development Agency (BREDA)</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/BiharRenewableEnergy" > <span>Achievements of BREDA</span></a></li>
						
					</ul>
				</div>

			</div>
			
			
			<div class="col-sm-6 col-xs-12">
				
				<div class="categoryBox">
					<h2>Projection of Power Requirement</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/ProjectionOfPowerRequirement1" > <span>Annual Energy Requirement for Rural and Urban Households </span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/ProjectionOfPowerRequirement2"><span>Annual Energy and Peak Demand Requirement at State Periphery </span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/ProjectionOfPowerRequirement3"><span>Year-wise and Source-wise Details of Capacity Expansion</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/ProjectionOfPowerRequirement4"><span>Estimated Availability of Power and Energy (2017-18 to 2019-20)</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/ProjectionOfPowerRequirement5"><span>Projected Surplus/ Deficit in Power and Energy (2017-18 to 2019-20)</span></a></li>
						
					</ul>
				</div>
				
				<div class="categoryBox">
					<h2>Distribution Companies</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Distribution" > <span>Category-wise Number of Effective Consumers (As per billing data)</span></a></li>
						
					</ul>
				</div>

				<div class="categoryBox">
					<h2>Programmes for Electrification and Distribution Schemes </h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/ProgrammesForElectrification1" > <span>Capital Expenditure of R-APDRP</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/ProgrammesForElectrification2" > <span>Progress of Work under DDUGJY (Erstwhile RGGVY) </span></a></li>
						</ul>
				</div>

				<div class="categoryBox">
					<h2>Generation</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Generation1" > <span>Existing Generation Capacity (March 2017)</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Generation2" > <span>Details of Existing and Planned Generation Units</span></a></li>
						
					</ul>
				</div>

				<div class="categoryBox">
					<h2>Recent Developments in Power Sector</h2>
					<ul class="list-inline listCategory">
						
						
					</ul>
				</div>

				<div class="categoryBox">
					<h2>Bihar State Hydroelectric Power Corporation Limited</h2>
					<ul class="list-inline listCategory">
						
						
					</ul>
				</div>

		
			</div>

			

		</div>
	</div>
</section>	  

