<!-- PAGE TITLE SECTION -->
<section class="clearfix pageTitleSection" >
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="pageTitle">
          <h2>State Finances</h2>
          <div class="btnArea"><a  (click)="cancel()"  class="btn btn-primary"><i class="fa fa-angle-left" aria-hidden="true"></i> Back </a></div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="clearfix bg-light pr">
	<div class="container">
		
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				
				<div class="categoryBox">
					<h2>Overview of Financial Position</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a routerLink="/FinancialPosition1"><span>Receipts and Expenditure</span></a></li>
					</ul>
				</div>
				
				<div class="categoryBox">
					<h2>Deficit Management</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a routerLink="/DeficitManagement1"><span>Deficit/Surplus postition of States</span> </a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/DeficitManagement2"><span>Gross Fiscal Deficit</span> </a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/DeficitManagement3"><span>Decomposition of Gross Fiscal Deficit of Bihar</span> </a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/DeficitManagement4"><span>Financing of Gross Fiscal Deficit</span> </a></li>
					</ul>
				</div>

				<div class="categoryBox">
					<h2>Tax : GSDP Ratio</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/TaxGSDPRatio" > <span>Tax: GSDP Ratio of States (2015-16)</span></a></li>
						
					</ul>
				</div>
				
				<div class="categoryBox">
					<h2>Resource Management</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/ResourceManagement1" > <span>Revenue Receipts</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/ResourceManagement2" > <span>Tax Revenues under Different Heads </span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/ResourceManagement3" > <span>Composition of Tax Revenues</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/ResourceManagement4" > <span>Growth Rates of Tax Revenue (Percent)</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/ResourceManagement5" > <span>Share of Direct and Indirect Taxes </span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/ResourceManagement6" > <span>Major Non-Tax Revenues</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/ResourceManagement7" > <span>Composition of Non-Tax Revenues</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/ResourceManagement8" > <span>Growth Rates of Non-Tax Revenues</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/ResourceManagement9" > <span>Variation between the Estimated and Actual Realisation of Tax and Non-Tax Revenue (2016-17)</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/ResourceManagement10" > <span>Cost of Collection of Taxes</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/ResourceManagement11" > <span>Tax and Non-tax Revenue as Percentage of GSDP </span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/ResourceManagement12" > <span>Buoyancy of Important Tax and Non-Tax Revenue Sources</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/ResourceManagement13" > <span>Grants and Contributions from Central Government </span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/ResourceManagement14" > <span>Direct Transfer of central Funds to State Implementing Agencies Bypassing State Budgets</span></a></li>
						
					</ul>
				</div>
				
				<div class="categoryBox">
					<h2>Expenditure Management</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a href="#" > <span>Expenditure from Consolidated Fund</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a href="#" > <span>Composition of Government Expenditure</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a href="#" > <span>Percentage Composition of Total Expenditure</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a href="#" > <span>Growth Rates of Expenditure </span></a></li>
						
					</ul>
				</div>
				
				<div class="categoryBox">
					<h2>Expenditure on Salary and Pension</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a href="#" > <span>Expenditure on Salaries and Pensions</span></a></li>
						
					</ul>
				</div>
				
				<div class="categoryBox">
					<h2>Sectoral Expenditure</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a href="#" > <span>Expenditure on Social Services</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a href="#" > <span>Expenditure on Economic Services</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a href="#" > <span>Per Capita Expenditure on Social and Economic Services </span></a></li>
						
					</ul>
				</div>
			</div>	
				
	
			<div class="col-sm-6 col-xs-12">
				
				<div class="categoryBox">
					<h2>Fiscal Performance</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Fiscal-Performance1" > <span>Major Fiscal Indicator</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/Fiscal-Performance2"><span>Fiscal and Financial Performance Indicators</span></a></li>

					</ul>
				</div>
				
				<div class="categoryBox">
					<h2>Debt Management</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/DebtManagement1" > <span>Outstanding Liabilities</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/DebtManagement2" > <span>Composition of Outstanding Liabilities in the Consolidated Fund</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/DebtManagement3" > <span>Public Debt Repayment Liabilities</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/DebtManagement4" > <span>Net Public Debt Received</span></a></li>
						
					</ul>
				</div>

				<div class="categoryBox">
					<h2>Revenue Account: Receipt and Expenditure</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/RevenueAccount1" > <span>Revenue Account</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/RevenueAccount2" > <span>Expenditure Pattern</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/RevenueAccount3" > <span>Interest Payment and Receipt</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/RevenueAccount4" > <span>Revenue vis-a-vis Capital Outlay</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/RevenueAccount5" > <span>Transfer of Resources from Central Government</span></a></li>
						
						
					</ul>
				</div>

				<div class="categoryBox">
					<div class="categoryBox">
            <h2>Performance of Tax Departments</h2>
            <ul class="list-inline listCategory">
              <li ><i class="fa fa-check-square"></i> <a routerLink="/TaxDepartment1" > <span>Act-wise Commercial Tax Collection</span></a></li>
              <li ><i class="fa fa-check-square"></i> <a routerLink="/TaxDepartment2" > <span>Share of Commercial Taxes in Total Revenue</span></a></li>
              <li ><i class="fa fa-check-square"></i> <a routerLink="/TaxDepartment3" > <span>Comparative Commodity-wise Collection of Sales Tax</span></a></li>
              <li ><i class="fa fa-check-square"></i> <a routerLink="/TaxDepartment4" > <span>Revenue from Stamp Duty and Registration Fees </span></a></li>
              <li ><i class="fa fa-check-square"></i> <a routerLink="/TaxDepartment5" > <span>District-wise Revenue from Stamp Duty and Registration Fees, 2017-18 (Upto Sept., 2017)</span></a></li>
              
            </ul>
          </div>

				<div class="categoryBox">
					<h2>Revenue Expenditure</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a href="#" > <span>Details of Revenue Expenditure</span></a></li>
					</ul>
				</div>

				<div class="categoryBox">
					<h2>Quality of Expenditure</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a href="#" > <span>Quality Parameters of Expenditure</span></a></li>
						
					</ul>
				</div>

				<div class="categoryBox">
					<h2>Comparison of Budget Estimates of 2017 - 2018 and Actual Amounts of 2016 - 17</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a href="#" > <span>Summary of Actual Amounts (2016-17) and Budget Estimates (2017-18)</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a href="#" > <span>Percentage Distribution of Consolidated Fund - Receipts and Expenditure </span></a></li>
						
					</ul>
				</div>

				<div class="categoryBox">
					<h2>State Public Sector Undertakings and Corporations</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a href="#" > <span>State Government Investment in Public Sector</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a href="#" > <span>Investment in Working and Non-Working Public Sector Companies (March 31, 2016)</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a href="#" > <span>Sector-wise Government Companies and Corporations (2015-16)</span></a></li>

					</ul>
				</div>


			</div>	

				</div>		

		</div>
	
</section>