<section class="clearfix pageTitleSection" >
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="pageTitle">
          <h2>Economy Overview</h2>
          <div class="btnArea"><a  (click)="cancel()"  class="btn btn-primary"><i class="fa fa-angle-left" aria-hidden="true"></i> Back </a></div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="clearfix bg-light pr">
	<div class="container">
		
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<div class="categoryBox">
					<h2>Demographic Profile </h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a routerLink="/Economy-Overview/Demographic-Profile"><span>Demographic Profile and Administrative Structure 
of Bihar and India (2001 and 2011)</span></a></li>
<li><i class="fa fa-check-square"></i> <a routerLink="/Economy-Overview/Demographic-Profile2"><span>District-wise Demographic Profile of Bihar</span></a></li>
					</ul>
				</div>
				
				<div class="categoryBox">
					<h2>Regional Disparity</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a routerLink="/Regional-Disparity"><span>Relatively Prosperous and Backward Districts of Bihar</span> </a></li>
					</ul>
				</div>
				
			</div>
			
			<div class="col-sm-6 col-xs-12">
				
				<div class="categoryBox">
					<h2>State Domestic Product</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/State-Domestic-Product1" > <span>Sectoral Growth Rate of GSDP</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/State-Domestic-Product2"><span>Per Capita Net State Domestic Product (NSDP) at (2011 - 12) 
Prices of Major Indian States</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/Economy-Overview/State-Domestic-Product3"><span>Sectoral Composition of GSVA at Constant (2011-12) Prices</span></a></li>
            <li><i class="fa fa-check-square"></i> <a routerLink="/State-Domestic-Product4"><span>Gross State Domestic Product (GSDP) and Net State Domestic Product (NSDP) of Bihar</span></a></li>
            <li><i class="fa fa-check-square"></i> <a routerLink="/State-Domestic-Product5"><span>Gross State Domestic Product (GSDP) of Bihar at Market Price (Current Prices)</span></a></li>
            <li><i class="fa fa-check-square"></i> <a routerLink="/State-Domestic-Product6"><span>Gross State Domestic Product (GSDP) of Bihar at Market Price (2011-12 Prices) </span></a></li>
            <li><i class="fa fa-check-square"></i> <a routerLink="/State-Domestic-Product7"><span>Net State Domestic Product (NSDP) of Bihar at Market Price (Current Prices) </span></a></li>
            <li><i class="fa fa-check-square"></i> <a routerLink="/State-Domestic-Product8"><span>Net State Domestic Product (NSDP) of Bihar at Market Price (2011-12 Prices) </span></a></li>
            <li><i class="fa fa-check-square"></i> <a routerLink="/State-Domestic-Product9"><span>District-wise Per Capita Gross District Domestic Product (2004-05 Prices)</span></a></li>
            <li><i class="fa fa-check-square"></i> <a routerLink="/State-Domestic-Product10"><span>District-wise Consumption of Petroleum Products</span></a></li>
            <li><i class="fa fa-check-square"></i> <a routerLink="/State-Domestic-Product11"><span>District-wise Small Savings in Post Offices and Public Provident Fund</span></a></li>
					</ul>
				</div>
				
				<div class="categoryBox">
					<h2>Inflation Rates During 2016 And 2017</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Inflation-Rates" > <span>State-wise Annual Inflation Rates for CPI (base: 2012 = 100)</span></a></li>
						
					</ul>
				</div>
</div>
</div>
	</div>
</section>
