<section class="clearfix pageTitleSection" >
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="pageTitle">
          <h2>Infrastructure</h2>
          <div class="btnArea"><a  (click)="cancel()"  class="btn btn-primary"><i class="fa fa-angle-left" aria-hidden="true"></i> Back </a></div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="clearfix bg-light pr">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<div class="categoryBox">
					<h2>Roads</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a routerLink="/Roads1"><span>Contribution of Transport and Communication Sectors in Gross Value Added (GVA) at 2011-12 Prices</span></a></li>
						
						<li><i class="fa fa-check-square"></i> <a routerLink="/Roads2"><span>Public Investment in Road and Bridges in Bihar</span></a></li>
						
						<li><i class="fa fa-check-square"></i> <a routerLink="/Roads3"><span>Road Network and Road Density in Major States of India (As on March, 2015)</span></a></li>
						
						<li><i class="fa fa-check-square"></i> <a routerLink="/Roads4"><span>Length of Roads in Bihar</span></a></li>
						
						<li><i class="fa fa-check-square"></i> <a routerLink="/Roads5"><span>Status of Road Network in Bihar (as on September, 2017) </span></a></li>
						
						<li><i class="fa fa-check-square"></i> <a routerLink="/Roads6"><span>Road Length and Expenditure on Development and Maintenance of National Highways</span></a></li>
						
						<li><i class="fa fa-check-square"></i> <a routerLink="/Roads7"><span>Status of Widening of National Highways</span></a></li>
						
						<li><i class="fa fa-check-square"></i> <a routerLink="/Roads8"><span>Overview of Widening of State Highways</span></a></li>
						
            <li><i class="fa fa-check-square"></i> <a routerLink="/Roads9"><span>Programme-wise Length of Rural Roads Constructed (As on September, 2017) </span></a></li>
            
            <li><i class="fa fa-check-square"></i> <a routerLink="/Roads10"><span>District-wise Road Network in Bihar </span></a></li>
					</ul>
				</div>
				
				<div class="categoryBox">
					<h2>Road Transport</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a routerLink="/RoadTransport1"><span>Registered Motor Vehicles in Major States of India (2014-15)</span> </a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/RoadTransport2"><span>Yearly Growth in Number of Registered Vehicles and Revenue Collection</span> </a></li>
            <li><i class="fa fa-check-square"></i> <a routerLink="/RoadTransport3"><span> Revenue Collection and Number of Passengers Carried by BSRTC</span></a></li>
            <li><i class="fa fa-check-square"></i> <a routerLink="/RoadTransport4"><span> District-wise Registered Vehicles in Bihar During 2016-17</span></a></li>
					</ul>
				</div>
				
				<div class="categoryBox">
					<h2>Railways</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Railways" > <span>Spread of Rail Route Network in Indian Major States (As on March, 2016) </span></a></li>
						
					</ul>
				</div>
				
				<div class="categoryBox">
					<h2>Airways</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Airways" > <span>Domestic Aircraft Movements, Number of Passengers and Freights at Patna Airport </span></a></li>
						
					</ul>
				</div>
				
			</div>
			
			
			
			
			<div class="col-sm-6 col-xs-12">
				<div class="categoryBox">
					<h2>Bridge Sector</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/BridgeSector1" > <span>Bridge Constructed under Mukhyamantri Setu Nirman Yojana (2016-17)</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/BridgeSector2"><span>Overview of Bihar Rajya Pul Nirman Nigam Limited</span></a></li>
						
						
					</ul>
				</div>				

				
		
				<div class="categoryBox">
					<h2>Information and Communication Technology (ICT)</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/ICT1" > <span>Online Services under e-District Rollout Plan of Service Plus Framework</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/ICT2" > <span>Tele-density of Major Indian States</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/ICT3" > <span>BSNL Bihar : Telecom Demography (As on Sept. 2017) </span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/ICT4" > <span>Spread of Postal Network in Major States of India (As on March 31, 2016)</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/ICT5" > <span>Number of Accounts and Outstanding Balances in Post Offices (As on March 2016) </span></a></li>
						
					</ul>
				</div>

				<div class="categoryBox">
					<h2>Irrigation</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/irrigation1" > <span>Ultimate, Created and Utilised Irrigation Potential in Bihar </span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/irrigation2" > <span>Creation of Irrigation Potential under Major and Medium Irrigation (2016-17)</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/irrigation3" > <span>Water Utilisation Efficiency of Major and Medium Irrigation Schemes </span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/irrigation4" > <span>Status of Farmers Societies</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/irrigation5" > <span>Status of Minor Water Resources in Bihar</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/irrigation6" > <span>Area Brought under Irrigation through Minor Irrigation Sources</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Irrigation7" > <span>Programme of execution of Intra-state River Linking Schemes during (2017-22)</span></a></li>
					</ul>
				</div>
			
				
			</div>

			

		</div>
	</div>
</section>	  
