<section class="clearfix pageTitleSection" >
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="pageTitle">
          <h2>Human Development</h2>
          <div class="btnArea"><a (click)="cancel()" class="btn btn-primary"><i class="fa fa-angle-left" aria-hidden="true"></i> Back </a></div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="clearfix bg-light pr">
	<div class="container">
		
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				
				<div class="categoryBox">
							<h2>Health</h2>
							<ul class="list-inline listCategory">
								<li><i class="fa fa-check-square"></i> <a routerLink="/health1"><span>Trend of Social Services Expenditure</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health2"><span>Life Expectancy at Birth</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health3"><span>Selected Health Indicators for Bihar and India</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health4"><span>Monthly Average Number of Patients Visiting Government Hospitals </span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health5"><span>Overall Status of Health Infrastructure</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health6"><span>District-wise Average Number of Outpatients Visiting per Day</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health7"><span>Number of Health Personnel</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health8"><span>Number of Institutional Delivery under JSY</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health9"><span>Percentage of Fully Immunized Children (age 12-23 months)</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health10"><span>Antigen-wise Immunisation Coverage </span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health11"><span>Prevalence of Main Diseases in Bihar</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health12"><span>Fund Disbursed to Health Societies</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health13"><span>Staffing Position in ICDS</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health14"><span>Resource Utilisation in ICDS</span></a></li></ul>
						</div>
					
				<div class="categoryBox">
					<h2>Labour Resource and Welfare</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a href="#" > <span>Composition of Main Workers in Indian Major States (2011)</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a href="#" > <span>Physical & Financial Progress of Schemes for Modernization of Employment Exchanges</span></a></li>
						
					</ul>
				</div>	

				<div class="categoryBox">
					<h2>Women Empowerment</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a href="#" > <span>Gender Budget Summary </span></a></li>
						<li ><i class="fa fa-check-square"></i> <a href="#" > <span>Overview of Gender Budget</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a href="#" > <span>Flagship Schemes to Address Gender Disparity</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a href="#" > <span>Number of Cases Registered and Disposed under Social Empowerment</span></a></li>
						
					</ul>
				</div>
				
			</div>
			
			<div class="col-sm-6 col-xs-12">
				<div class="categoryBox">
					<h2>Drinking Water Supply and Sanitation</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a href="#"><span>Districts mapping of Contamination </span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"><span>Achievement under Water Supply and Sanitation</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"><span>Financial Progress under NRDWP</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"><span>Financial Progress in State Plan Schemes for Water Supply and Sanitation</span></a></li>
						<li><i class="fa fa-check-square"></i> <a href="#"><span>Physical Achievements in State Plan Schemes for Water Supply and Sanitation</span></a></li>
					</ul>
				</div>
				
				<div class="categoryBox">
							<h2>Education, Art, Culture and Youth</h2>
							<ul class="list-inline listCategory">
								<li><i class="fa fa-check-square"></i> <a href="#"><span>Trend of Literacy Rates in India and Bihar</span> </a></li>
								<li><i class="fa fa-check-square"></i> <a href="#"><span> Total Enrolment in Primary and Upper Primary Level</span> </a></li>
								<li><i class="fa fa-check-square"></i> <a href="#"><span>Dropout Rates at Primary, Upper Primary, Secondary and Higher Secondary Levels</span> </a></li>
								<li><i class="fa fa-check-square"></i> <a href="#"><span>Dropout Rates (SC & ST) at Primary, Upper Primary and Secondary Levels</span> </a></li>
								<li><i class="fa fa-check-square"></i> <a href="#"><span>Expenditure on Education</span> </a></li>
								<li><i class="fa fa-check-square"></i> <a href="#"><span>Coverage ofMDMS</span> </a></li>
								<li><i class="fa fa-check-square"></i> <a href="#"><span>Status of Fund Received and Expenditure under Different Schemes</span> </a></li>
								<li><i class="fa fa-check-square"></i> <a href="#"><span>Percentage of Learning Outcomes based on ASER Report</span> </a></li>
								<li><i class="fa fa-check-square"></i> <a href="#"><span>Institutions of Higher Education</span> </a></li>


							</ul>
						</div>
				
				<div class="categoryBox">
					<h2>Social Welfare</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a href="#" > <span>Overview of Outlay Allocation of SC and ST Welfare</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a href="#" > <span>Achievements ofBihar State Scheduled Caste Cooperative Corporation (2016-17)</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a href="#" > <span>Financial Progress of BC and EBC Welfare</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a href="#" > <span>Physical and Financial Details of BC and EBC Welfare </span></a></li>
						
					</ul>
				</div>
				
				<div class="categoryBox">
									<h2>Social Security for Old and Disabled</h2>
									<ul class="list-inline listCategory">
										<li ><i class="fa fa-check-square"></i> <a href="#" > <span>Schemes for Old Age, Widow and Persons with Disabilities</span></a></li>

									</ul>
								</div>
				
				
			</div>

			

		</div>
	</div>
</section>