<section class="clearfix pageTitleSection" >
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="pageTitle">
          <h2>Human Development</h2>
          <div class="btnArea"><a (click)="cancel()" class="btn btn-primary"><i class="fa fa-angle-left" aria-hidden="true"></i> Back </a></div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="clearfix bg-light pr">
	<div class="container">
		
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				
				<div class="categoryBox">
							<h2>Health</h2>
							<ul class="list-inline listCategory">
								<li><i class="fa fa-check-square"></i> <a routerLink="/health1"><span>Trend of Social Services Expenditure</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health2"><span>Life Expectancy at Birth</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health3"><span>Selected Health Indicators for Bihar and India</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health4"><span>Monthly Average Number of Patients Visiting Government Hospitals </span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health5"><span>Overall Status of Health Infrastructure</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health6"><span>District-wise Average Number of Outpatients Visiting per Day</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health7"><span>Number of Health Personnel</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health8"><span>Number of Institutional Delivery under JSY</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health9"><span>Percentage of Fully Immunized Children (age 12-23 months)</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health10"><span>Antigen-wise Immunisation Coverage </span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health11"><span>Prevalence of Main Diseases in Bihar</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health12"><span>Fund Disbursed to Health Societies</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health13"><span>Staffing Position in ICDS</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health14"><span>Resource Utilisation in ICDS</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health15"><span>Number of Health Institutions in Bihar (As on September, 2017)</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health16"><span>District-wise Employment of Regular and Contractual Doctors</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health17"><span>District-wise Employment of Grade A Nurses</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health18"><span>District-wise Employment of ANM</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health19"><span>District-wise Employment of ASHA Worker</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health20"><span>District-wise Coverage of Institutional Deliveries under Janani Suraksha Yojana (JSY)</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health21"><span>Prevalence of Diseases (2016-2017)</span></a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/health22"><span>District-wise Fund Disbursed to Health Societies</span></a></li>
			</ul>
	</div>
					
				<div class="categoryBox">
					<h2>Labour Resource and Welfare</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Labour-Resource-And-Welfare1" > <span>Composition of Main Workers in Indian Major States (2011)</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Labour-Resource-And-Welfare2" > <span>Physical & Financial Progress of Schemes for Modernization of Employment Exchanges</span></a></li>
						
					</ul>
				</div>	

				<div class="categoryBox">
					<h2>Women Empowerment</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Women-Empowerment1" > <span>Gender Budget Summary </span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Women-Empowerment2" > <span>Overview of Gender Budget</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Women-Empowerment3" > <span>Flagship Schemes to Address Gender Disparity</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Women-Empowerment4" > <span>Number of Cases Registered and Disposed under Social Empowerment</span></a></li>
						
					</ul>
				</div>
				
			</div>
			
			<div class="col-sm-6 col-xs-12">
				<div class="categoryBox">
					<h2>Drinking Water Supply and Sanitation</h2>
					<ul class="list-inline listCategory">
						<li><i class="fa fa-check-square"></i> <a routerLink="/DrinkingWaterSupplyAndSanitation"><span>Districts mapping of Contamination </span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/DrinkingWaterSupplyAndSanitation1"><span>Achievement under Water Supply and Sanitation</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/DrinkingWaterSupplyAndSanitation2"><span>Financial Progress under NRDWP</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/DrinkingWaterSupplyAndSanitation3"><span>Financial Progress in State Plan Schemes for Water Supply and Sanitation</span></a></li>
						<li><i class="fa fa-check-square"></i> <a routerLink="/DrinkingWaterSupplyAndSanitation4"><span>Physical Achievements in State Plan Schemes for Water Supply and Sanitation</span></a></li>
					</ul>
				</div>
				
				<div class="categoryBox">
							<h2>Education, Art, Culture and Youth</h2>
							<ul class="list-inline listCategory">
								<li><i class="fa fa-check-square"></i> <a routerLink="/Education-Art-Culture1"><span>Trend of Literacy Rates in India and Bihar</span> </a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/Education-Art-Culture2"><span>Total Enrolment in Primary and Upper Primary Level</span> </a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/Education-Art-Culture3"><span>Dropout Rates at Primary, Upper Primary, Secondary and Higher Secondary Levels</span> </a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/Education-Art-Culture4"><span>Dropout Rates (SC & ST) at Primary, Upper Primary and Secondary Levels</span> </a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/Education-Art-Culture5"><span>Expenditure on Education</span> </a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/Education-Art-Culture6"><span>Coverage of MDMS</span> </a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/Education-Art-Culture7"><span>Status of Fund Received and Expenditure under Different Schemes</span> </a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/Education-Art-Culture8"><span>Percentage of Learning Outcomes based on ASER Report</span> </a></li>
								<li><i class="fa fa-check-square"></i> <a routerLink="/Education-Art-Culture9"><span>Institutions of Higher Education</span> </a></li>


							</ul>
						</div>
				
				<div class="categoryBox">
					<h2>Social Welfare</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/SocialWelfare" > <span>Overview of Outlay Allocation of SC and ST Welfare</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/SocialWelfare1" > <span>Achievements of Bihar State Scheduled Caste Cooperative Corporation (2016-17)</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/SocialWelfare2" > <span>Financial Progress of BC and EBC Welfare</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/SocialWelfare3" > <span>Physical and Financial Details of BC and EBC Welfare </span></a></li>
						
					</ul>
				</div>




				<div class="categoryBox">
					<h2>District-wise Section</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/DistrictWiseSection" > <span>District-wise Hand Pumps under National Rural Drinking Water Programme (NRDWP)</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/DistrictWiseSection1" > <span>District-wise Achievement in Individual Household Latrine (IHHL) under Central Rural Sanitation Programme </span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/DistrictWiseSection2" > <span>Total Enrolment in Primary and Upper Primary Levels (All)</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/DistrictWiseSection3" > <span>Total Enrolment in Primary and Upper Primary Levels (SC)</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/DistrictWiseSection4" > <span>Total Enrolment in Primary and Upper Primary Levels (ST)</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/DistrictWiseSection5" > <span>District-wise Number of Primary and Upper Primary Schools in Bihar (2015-16)</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/DistrictWiseSection6" > <span>District-wise Coverage of MDMS (Class I-V)</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/DistrictWiseSection7" > <span>District-wise Coverage of MDMS (Class VI-VIII)</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/DistrictWiseSection8" > <span>District-wise Number of Colleges in Bihar</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/DistrictWiseSection9" > <span>District-wise and Stream-wise Number of Colleges in  Bihar up to 2016-17</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/DistrictWiseSection10" > <span>District Level Overview of SC/ST Welfare (A)</span></a></li>
						<li ><i class="fa fa-check-square"></i> <a routerLink="/DistrictWiseSection11" > <span>District Level Overview of SC/ST Welfare (B)</span></a></li>			
					</ul>
				</div>
				
				<div class="categoryBox">
					<h2>Social Security for Old and Disabled</h2>
					<ul class="list-inline listCategory">
						<li ><i class="fa fa-check-square"></i> <a routerLink="/Social-Security-For-Old-And-Disabled" > <span>Schemes for Old Age, Widow and Persons with Disabilities</span></a></li>
					</ul>
				</div>
				
				
			</div>

			

		</div>
	</div>
</section>